/* Estilo para o corpo da página */
body {
   background-color: #1e1e2f;
   color: #ffffff;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   display: flex;
   /* usar flexbox para centralizar */
   justify-content: center;
   /* centralizar horizontalmente */
   align-items: center;
   /* centralizar verticalmente */
   height: 100vh;
   /* ocupar toda a altura da viewport */
   font-size: 20px;
}

/* Estilo para o formulário */
form {
   background-color: #2c2c3a;
   padding: 30px;
   /* espaçamento interno do formulário */
   border-radius: 12px;
   /* bordas arredondadas */
   box-shadow: 0 0 15px rgba(0, 225, 225, 0.2);
   /* sombra suave */
   max-width: 800px;
   /* largura máxima para o formulário */
   width: 80%;
   /* largura total do formulário */

}

/* Estilo para os títulos */
h2 {
   text-align: center;
   /* centralizar o título */
   color: #00e5e5;
   /* cor do título */
   margin-bottom: 20px;
   /* espaçamento abaixo do título */
}

/* Estilo do para o parágrafo */
p {
   display: none;
   /* ocultar o parágrafo por padrão */
   font-weight: bold;
   margin-top: 10px;
   /* espaçamento acima do parágrafo */

}


/* Estilo para os campos label */
.input-container {
   display: flex;
   /* coloca em linha */
   align-items: center;
   /* alinha verticalmente */
   gap: 10px;
   /* espaço entre label e input */
   margin-top: 20px;
   /* espaçamento acima dos campos */
}

/* Estilo do label */
.input-container label {
   color: #cccccc;
   /* cor do texto do label */
   font-weight: bold;
   /* texto em negrito */
   white-space: nowrap;
   /* não quebrar o texto do label */
   font-size: 24px;
}


/* Estilo do input de número */
.input-container input[type="number"] {
   flex: 1; 
   padding: 10px;
   /* espaçamento interno do input */
   border: none;
   /* sem borda */
   border-radius: 6px;
   /* bordas arredondadas */
   background-color: #444;
   /* cor de fundo do input */
   color: #ffffff;
   /* cor do texto do input */
   font-size: 16px;
   font-weight: bold;
   ;
}

.botao-container {
   text-align: center;
}

/* Estilo do botão */
button {
   background-color: #00bcd4;
   /* cor de fundo do botão */
   color: #1e1e2f;
   /* cor do texto do botão */
   padding: 10px 20px;
   /* espaçamento interno do botão */
   border: none;
   /* sem borda */
   border-radius: 8px;
   /* bordas arredondadas */
   cursor: pointer;
   /* cursor de ponteiro ao passar o mouse */
   margin-top: 20px;
   /* espaçamento acima do botão */
   font-weight: bold;
   transition: background-color 0.3s ease;
   /* transição suave para a cor de fundo */
   display: inline-block;
   /* exibe o botão como um bloco */
   font-size: 20px;

}

p.mostra {
   display: block;
}